header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.img-logo img {
    width:15% ;
}

.img-logo {
    display: flex;
}



.titulo-header{
    color: white;
}


.icone-topo i {
    color: white;
    font-size: 30px;
}

.img-logo h1 {
    color: white;

}

.img-logo h4{
    color: white;
}


.navegacao{
    background-color: white;
    color: blue;
   
    font-size: 25px;
}


.navegacao nav ul {
    display: flex;
    justify-content: center;
}

.navegacao nav ul li {
    list-style: none;
    margin-left: 50px;
}


.navegacao nav ul li a {
    text-decoration: none;
    color: #0404E2 ;
}

.blog-completo{
    background-color: #1C2026;
    color: white;
}

.blog-completo img{
    width: 700px;

}